/*Global*/

*{
  box-sizing: border-box;
}

.container-fluid{
	max-width: 85%;
}

/*Background Img*/

.bg-img{
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  padding-bottom: 25%;
  padding-top: 0.5%;
}

/*Navbar*/

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-family:'Poppins', sans-serif;
  font-size: 95%;
}



/*Name*/

.myname{
	margin-top: 30%;

}

.name{
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 500%;
	color: white;
	padding-left: 1%;
	font-weight: bolder;

}

.from{
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 1.5%;
	font-weight: bolder;
}

/*About me*/

.Abt-head{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 3em;
}

.Abt-subhead{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

.Abt-para{

}

.kaza-pic{
	width: 60%;
	margin-left: 20%;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #E6E6FA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: 0.5;
}

.cont:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 60%;
  margin-left: 20%;
}

/*My Skills*/

.myskills{
	padding-top: 8%;
	margin-bottom: 0%;
}

.skills {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 3%;
  color: white;
}

.skill-container{
  width: 100%;
  background-color: #ddd;
  margin: 0px;
}

.percent{
	text-align: right;
	color: black;
	position: absolute;
	right: 3%;
}

.html {	
	background-color: #808080;
	width: 90%;
	margin-top: 5%;
	
}

.css {	
background-color: #808080;
width: 85%;
}

.btap {	
background-color: #808080;
width: 80%;
}

.pg {	
background-color: #808080;
width: 80%;
}

.skill-img{
	width: 100%;
}

/*Testimonials*/

.test-bgImg{
	background-image: url("../img/dark1.jpg");
	
}

.test-head{
	padding-top: 5%;
	font-weight: bolder;
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 3em;
	color: white;
}

.test-subhead{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

.carousel {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10%;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
	font-size: 120%;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
	color: white;
}
.carousel .overview b {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: auto;
	right: 50px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;		
}

/*Contact me*/

.bg-contact{
	padding-top: 3%;
	background-color: #353131;
	color: white;
}

.skype-size{
	font-size: 200%;
	margin-right: 2%;
}

.skype-name{
	font-size: 150%;
	font-family: 'Montserrat', sans-serif;

}

.twit-marg{
	margin-right: 15%;
}

/*Nice day*/

.nice-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*Footer*/

footer{
  background-color: #353131;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1.2%;
  padding-right: 30%;
  padding-left: 30%;
  font-size: 90%;
}

/*Media Quries*/

@media screen and (max-width: 990px){

	.Abt-head{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 3em;
	text-align: center;
	}

	.Abt-subhead{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-align: center;
	}

	.Abt-para{
		text-align: center;
	}

	.kaza-pic{
	width: 60%;
	margin-left: 20%;
	margin-top: 5%;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
	}

	.navbar {
    background: black;
  	}

  	.text{
  		font-size: 180%;
  	}

  	.myskills{
	margin-top: 10%;
	margin-bottom: 3%;
	}

	.twit-marg{
	margin-right: 0px;
	}
	
	.test-head{
	padding-top: 5%;
	font-weight: bolder;
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;
	}

	.test-subhead{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-align: center;
	}

	footer{
	 background-color: #353131;
	 text-align: center;
	 padding-top: 2%;
	 padding-bottom: 1.2%;
	 padding-right: 20%;
	 padding-left: 20%;
	 font-size: 90%;
	}

}

@media screen and (max-width: 620px){


	.bg-img{
	  background-image: url('../img/bg.jpg');
	  background-size: 100% 100%;
	  padding-bottom: 25%;
	  padding-top: 0.5%;
	}

	.name{
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 120%;
	color: white;
	padding-left: 1%;
	font-weight: bolder;

	}

	.from{
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 1.5%;
	font-size: 120%;
	font-weight: bolder;
	}

	.navbar {
    background: black;
  	}

  	.twit-marg{
	margin-right: 0px;
	}

	.test-head{
	padding-top: 5%;
	font-weight: bolder;
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;
	}

	.test-subhead{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-align: center;
	}

	footer{
	 background-color: #353131;
	 text-align: center;
	 padding-top: 2%;
	 padding-bottom: 1.2%;
	 padding-right: 10%;
	 padding-left: 10%;
	 font-size: 90%;
	}

}
